$white: rgb(237, 237, 237);
$lightgrey:rgb(211, 211, 211);
$darkgrey: rgba(36, 36, 36, 0.91);
$grey: rgba(97, 97, 97, 0.91);
$bluegrey: rgb(97, 127, 149);;
$blue: rgb(38,76,149);
$yellow: rgb(249,255,163)

