.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $darkgrey;
  color: $white;
  padding: 30px;

}

.headerInside {
  font-size: 28px;
  text-align: center;
  padding: 30px;
  font-style: italic;
  font-stretch: extra-expanded;
}

.liNote {
  color: $lightgrey;
  text-decoration: none;
  background-color: #617f95;
  border-radius: 24px;
  padding: 12px;
}

.note {
  display: inline;
}

.noteDiv {
  text-align: center;
  padding: 30px;
  font-size: 24px;
}
