.textArea {
  height: 75vh;
  width: 80vw;
  padding: 20px;
  margin: 0 20px;
  font-family: $font-base;
  font-size: 16px;
  background: $yellow;
  border: none
}

.clear {
  width: 20vw;
  color: $darkgrey;
  background-color: #617f95;
  border-radius: 24px;
  padding: 2px;
  font-family: $font-base;
  margin:20px;
}

.back {
  padding: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
}
