
ul {
  list-style-type: none;
}
.navItem{
  background-color: $darkgrey;
}

.container4 {
  margin-top: 0;
  background-color: $lightgrey;
  margin-bottom: 40px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lightgrey;
  color: $blue;
  text-decoration: underline;
  font-size: 12px;
  text-align: center;
}