
.subtitle{
  background: $lightgrey;
  margin: 50px;
  padding: 20px;
  height: 450px;
  width: 800px
}
.today{
  color: $darkgrey;
  margin-top:20px;
  text-align: center
}
.container3 {
  margin-top: 10px;
  background-color: $lightgrey;
  text-align: center;
  color: $darkgrey
}
.chart3 {
  background: $white;
  margin: 20px;
  padding: 10px;
}
